@tailwind base;
@tailwind components;
@tailwind utilities;

.bg{
    background-color: #1F1F1F;
}



  @keyframes floatBlue {
    0% {
      transform: translate(-80%, -50%) translateX(-80vw) translateY(-40vh);
    }
    50% {
      transform: translate(-50%, -50%) translateX(60vw) translateY(40vh);
    }
    100% {
      transform: translate(-50%, -50%) translateX(-60vw) translateY(-40vh);
    }
  }
  
  @keyframes floatPurple {
    0% {
      transform: translate(-50%, -50%) translateX(60vw) translateY(-50vh);
    }
    50% {
      transform: translate(-50%, -50%) translateX(-60vw) translateY(50vh);
    }
    100% {
      transform: translate(-50%, -50%) translateX(90vw) translateY(-50vh);
    }
  }
  